
header {
  width: 1140px;
  text-align: center;
  
}

h1 {
  font-size: xx-large;
  font-style: italic;

}

table {
  padding: 20px;
  width: 1140px;
  

}

th {
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  width: 250px;
  text-align: center;
}

td {
  padding: 20px;
  width: 250px;
  border: 1px solid black;

}

.myImg{
  text-align: center;
}

.buttons{
  text-align: center;
  height: 10px
}

.tablerow1{
  text-align: center;
  height: 20px;
}

.tablerow2{
  text-align: center;

}

body {
  padding: 25px;
  width: 1440;
  background-color: lightgreen;
}


tr {
  text-align: center;
}

table {
  text-align: center;
  width: 1440;
  border: 1px solid black
}







