
.myImg{
  float: right;
}


header {
  width: 1140px;
  text-align: center;
  
}

h1 {
  font-size: xx-large;
  font-style: italic;

}

table {
  
  padding: 20px;
  width: 1140px;
  

}

th {
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  width: 250px;
  text-align: center;
}

td {
  padding: 20px;
  width: 250px;
  /* border: 1px solid black; */

}



.buttons{
  text-align: center;
  height: 10px;
}

.tablerow1{
  text-align: center;
  height: 20px;
}


body {
  text-align: center;
  width: max-width;
  background-color: lightgreen;
}


tr {
  text-align: center;
}

table {
  text-align: center;
  width: 1440px;
  border: px solid black;
}


#div-one{
  border: 2px solid black;
  width: 250px;
  text-align: center;
  padding: 25px;
  margin-left: 50px;
  display: inline-block;
}

#div-two{
  border: 2px solid black;
  width: 250px;
  text-align: center;
  padding: 25px;
  margin-left: 50px;
  display: inline-block;
}

#div-three{
  border: 2px solid black;
  width: 250px;
  text-align: center;
  padding: 25px;
  margin-left: 50px;
  display: inline-block;
}

#div-four{
  border: 2px solid black;
  width: 250px;
  text-align: center;
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 50px;
  display: inline-block;
}



span {
  margin: 50px;
  border: 2px solid black;
  text-align: center;
  padding: 50px;
}
